.description-container {
    background-image: url(../../public/img/background.jpg);
    background-position: center center;
    background-size: cover;
}

hr {
    background: greenyellow;
    height: .25rem;
    width: 10rem;
    margin-bottom: 2rem;
    border: none;
    opacity: 1;
}

.fade-enter {
    opacity: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 500ms;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 500ms;
  }