/* .card__container {
  min-height: 15rem;
} */

.card__text {
  background-color: rgba(90, 85, 85, 0);
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(2px) brightness(0.7);

  color: var(--white-color);
}

.hover:hover {
  transition: color 0.3s ease-in-out;
  color: var(--green-light-color) !important;
}

@media (max-width: 766px) {
  img {
    border-radius: 0;
  }
}
