/*Se estiliza banner de faq*/
.banner-faq img {
    width: 100%; 
    height: 30rem; 
    object-fit: cover;
}
.banner-faq .title {
    left: 0;
    right: 0;
    color: var(--bg-main-color);
    font-size: 2em;
    font-family: 'montserrat', sans-serif;
    font-weight: bold;
}
/*Se estiliza section*/
.card-faq{
    width: 90%;
    height: auto;
    border-radius: 50px;
    position: relative;
    top: -180px;
    padding: 6rem;
}
/*Se sobreescriben estilos de bootstrap*/
.card-faq .accordion-button.collapsed, 
.card-faq .accordion-button:not(.collapsed){
    background-color: var(--green-light-color);
    padding: 2rem;
    border-radius: 50px!important;
    font-family: 'montserrat', sans-serif;
    font-weight: bolder;
    color: var(--bg-main-color);
}
.card-faq .accordion-item {
    background-color: transparent;
}
  .card-faq .accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgba(12, 255, 0, 0.5);
  }

  .card-faq .accordion-body {
    color: var(--white-color);
} 

@media (max-width: 758px){
    .card-faq{
        width: 100%;
        padding: 20% 0;
        border-radius: 0;
    }
}
@media (max-width: 570px){
    .card-faq{
        width: 100%;
        padding: 20% 0;
        border-radius: 0;
    }
    .card-faq .accordion-button.collapsed, 
    .card-faq .accordion-button:not(.collapsed){
    border-radius: 0!important;
}  
};
 