/* body {
  background-image: url('/public/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
} */
.container-mx-auto {
  margin-top: 80px; /* Ajusta la cantidad de margen superior según tus necesidades */
}

.card {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border-radius: 15px;
  background: var(--bg-main-color) !important;
}

.card-body {
  padding: 20px;
}

.card-body h3 {
  color: #faf7f7;
}

.card-body .form-label {
  color: #faf7f7;
}

.form-group {
  display: flex;
  align-items: center;
}

.form-group .form-label {
  margin-right: 10px;
}

.card .form-control {
  height: 40px;
  border-radius: 50px;
  flex-grow: 1;
}

.card .btn {
  background-color: #eff5f1;
  color: #000;
  border: none;
  border-radius: 50px;
}

button.py-2:hover {
  background-color: var(--white-hover-color);
}

.form-check-label {
  color: #eff5f1;
}

.row .col-md-6 a {
  color: #eff5f1;
}

/* a {
  color: #070707;
} */
