.form-container {
  margin-top: 100px;
}
.cardgral {
  width: 100%;
  max-width: 500px;
  padding: 20px;

  background-color: transparent !important;
}

.cardgral-body {
  padding: 30px;
}

.card-body h3 {
  color: #faf7f7;
  font-family: var(--Montserrat-semibold);
}

.card-body .form-label {
  color: #faf7f7;
}

.form-group {
  display: flex;
  align-items: center;
}

.form-group .form-label {
  margin-right: 10px;
}

.card .form-control {
  height: 40px;
  border-radius: 50px;
  flex-grow: 1;
}

button.py-2:hover {
  background-color: var(--white-hover-color);
}

.form-check-label {
  color: #eff5f1;
}
.forget {
  color: #eff5f1;
}
