.form-container {
  margin-top: 100px;
}
.cardgral {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: transparent !important;
}

.cardgral-body {
  padding: 30px;
}

.card-body h3 {
  font-Family: var(--Montserrat-bold);
  font-Variant: small-caps;
  color: var(--white-color);
}

.card-body .form-label {
  color: #faf7f7;
}

.form-group {
  display: flex;
  align-items: center;
}

.form-group .form-label {
  margin-right: 10px;
}

.card .form-control {
  height: 40px;
  border-radius: 50px;
  flex-grow: 1;
}

button.py-2:hover {
  border: none;
  background-color: var(--green-light-color)!important;
}

.form-check-label {
  color: #eff5f1;
}
.forget.btn.btn-link {
  color: #eff5f1;
  text-decoration: none;
}
.boton-modal:hover {
  background-color: var(--green-light-color)!important;
}






