/*Se estiliza banner*/
.banner-profile img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}
.banner-profile .title,
.p-profile {
  position: absolute;
  top: 20%;
  left: 13%;
  transform: translate(-50%, -50%);
  color: var(--bg-main-color);
  font-size: 2em;
  font-family: "montserrat", sans-serif;
  font-weight: bold;
}
.p-profile {
  top: 30%;
  left: 22.5%;
  font-size: 1.5em;
}
/*card principal*/
.card-user {
  width: 90%;
  height: auto;
  border-radius: 50px;
  position: relative;
  top: -150px;
  padding: 0 1.5rem;
}
.card-user .nav-tabs .nav-link {
  border-radius: 50px;
  color: var(--bg-main-color);
  font-family: "montserrat", sans-serif;
  font-weight: bolder;
  padding: 1.5rem;
}
.card-user .nav-tabs .nav-link.active {
  background-color: var(--green-light-color);
}
/*formulario*/
.user-form label {
  margin-bottom: 30px;
  color: var(--white-color);
  font-size: 1em;
  font-family: var(--Montserrat-semibold);
}
.btn {
  display: flex;
}
.btn button {
  margin: 0 30px;
}
.cancel-btn {
  font-size: 1em;
  background-color: #2d2929;
  color: var(--white-color);
  padding: 14px 48px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  border: none;
}
.cancel-btn:hover {
  background-color: rgb(31, 31, 31, 0.9);
}
.save-btn {
  font-size: 1em;
  background-color: var(--green-light-color);
  color: var(--bg-main-color);
  padding: 14px 48px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  border: none;
}
.save-btn:hover {
  background-color: rgba(11, 200, 0);
}
.input-form {
  width: 500px;
  padding: 0.5rem;
  border-radius: 50px;
  max-width: 100%;
}
.error-message {
  color: red;
  font-size: 0.8em;
}
@media (max-width: 1024px){
  .p-profile{
    left: 27%;
}
}
@media (max-width: 990px){
  .banner-profile .title{
    left: 16.5%;
   }
  .p-profile{
    left: 35%;
}
.card-user{
  width: 100%;
  border-radius: 0;
}
}
@media (max-width: 576px) {
  .banner-profile .title{
   left: 28%;
   top: 20%;
  }
  .p-profile{
    left: 38%;
}
  
  .form-item {
    text-align: center;
  }
  .user-form label {
    display: inline-block;
    vertical-align: middle;
  }
  .card-user, .user-form, .form-item, .input-form{
    width: 100%;
  }
  .nav-tabs {
    display: flex;
    flex-direction: column;
  }
  .btn {
    flex-direction: column;
    align-items: center;
  }
  .btn button {
    margin: 5px 0;
  }
};
