.title-register{
  font-family: var(--Montserrat-bold);
}

.register-label{
  font-family: var(--Montserrat-regular);
  color: var(--white-color);
} 

.register-input {
  background-color: var(--white-color);
  color: var(--bg-secondary-color);
}

.signup-register {
  background-color: var(--green-light-color);
}

.register-validation {
  color: var(--green-light-color);
  max-width: 300px; 
  word-wrap: break-word; 
}

#selectedSecurityQuestion {
  padding: 10px 20px !important;
}

@media (max-width: 576px) {
  #mail {
    padding-right: 40px !important;
  }
}


