.title-register{
  font-family: var(--Montserrat-bold);
  color: var(--white-color);
}

.subtitle-register{
  font-family: var(--Montserrat-regular);
  color: var(--white-color);
}

.register-label{
  font-family: var(--Montserrat-regular);
  color: var(--white-color);
} 

.register-validation {
  color: var(--green-color);
}
