/* encabezado */
.encabezado{
    margin: 10px;
    margin-top: 15px;
    padding: 5px 10px;
}

.encabezado p{
    color: #ffffff;
    font-weight: bold;
}


/* conteiner */

.titulo-personalizar{
    color: #ffffff;
    padding: 6px 12px;
    
}

.conteiner-personalizar{
    background-color: rgba(90, 85, 85, 0);
    backdrop-filter: blur(2px) brightness(0.7);
    border: 1px solid rgba(255, 255, 255, 0.12);
    margin: 3em;
    padding: 2em;
    border-radius: 10px;
}
.imagenes{
    padding: 2em;
}

.imagenes img{
    object-fit: cover; 
    width: 10em;
    height: 10em;
    border-radius: 10px;

}

/* Contenedor personalizable */

.fondo {
    position: relative;
    width: 70%; 
    height: 70vh; 
    overflow: hidden;
    border-radius: 10px;
}

@media(max-width:1060px){
    .fondo {
        width: 70%; 
        height: 50vh;    
    }   
}

@media(max-width:790px){
    .fondo{
        height: 40vh;
    }
}

.img-fondo {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
    
}
.contenido-superpuesto {
    position: relative;
    z-index: 1; 
}


.contenido-superpuesto img {
    width: 40%; 
    height: auto; 
    margin: 5rem 15rem 5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.5);
}

.contenido-superpuesto p{
    color: #ffffff;
    font-weight: bold;
}

.contenido-superpuesto div {
    padding: 5rem;
    position: absolute;
    color: white; 
    font-size: 16px; 
}


/* compartir descargar */
.texto-verde{
    color: #0CFF00;
}
.compartir{
    background-color: black;
    margin: 1rem;
}