/* Fonts */
@font-face {
  font-family: "Montserrat Regular";
  src: url("./assets/fonts/Montserrat-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Montserrat SemiBold";
  src: url("./assets/fonts/Montserrat-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("./assets/fonts/Montserrat-Bold.otf") format("opentype");
}

/* Root Var */
:root {
  --bg-main-color: #000000;
  --bg-secondary-color: #2d2929;

  --white-color: #ffffff;
  --white-hover-color: #ffffffc8;

  --green-color: #08b100;
  --green-light-color: #0cff00;

  --link-color: #272626;

  --Montserrat-regular: "Montserrat Regular", sans-serif;
  --Montserrat-semibold: "Montserrat SemiBold", sans-serif;
  --Montserrat-bold: "Montserrat Bold", sans-serif;
}

/* Custom Styles */

body::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--green-light-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar-corner {
  background-color: transparent;
}

.glass-bg {
  background-color: rgba(90, 85, 85, 0);
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(2px) brightness(0.7);
}

.box__shadow-inset {
  box-shadow: rgba(149, 149, 159, 0.25) 0px 50px 100px -20px,
    rgba(254, 254, 254, 0.3) 0px 30px 60px -30px,
    rgba(21, 149, 60, 0.35) 0px -2px 6px 0px inset !important;
}

.box__shadow {
  box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px;
}

.versalita {
  font-variant: small-caps;
}

Link {
  color: var(--white-color) !important;
}

.Link:hover {
  transition: color 0.3s ease-in-out;
  color: var(--white-hover-color) !important;
}

.grey-link {
  color: var(--link-color) !important;
}
