/* Fonts */
@font-face {
  font-family: "Montserrat Regular";
  src: url("./assets/fonts/Montserrat-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Montserrat SemiBold";
  src: url("./assets/fonts/Montserrat-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("./assets/fonts/Montserrat-Bold.otf") format("opentype");
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--bg-main-color);
  font-family: var(--Montserrat-regular) !important;
}
a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

/* Root Var */
:root {
  --bg-main-color: #000000;
  --bg-secondary-color: #2d2929;

  --white-color: #ffffff;
  --white-hover-color: #ffffffc8;

  --green-color: #08b100;
  --green-light-color: #0cff00;

  --Montserrat-regular: "Montserrat Regular", sans-serif;
  --Montserrat-semibold: "Montserrat SemiBold", sans-serif;
  --Montserrat-bold: "Montserrat Bold", sans-serif;
}

/* Custom Styles */

.text__light-green {
  color: var(--green-light-color);
}

.navbar-brand#logo__title:hover strong.text__light-green {
  transition: all 0.3s ease-in-out;
  text-shadow: 0 0 3px var(--green-light-color);
}
.Link {
  color: var(--white-color) !important;
}

.Link:hover {
  transition: color 0.3s ease-in-out;
  color: var(--white-hover-color) !important;
}
